.feed {
    flex: 0.4;
    border-right: 1px solid var(--twitter-background);
    min-width: fit-content;
    overflow-y: scroll;
}

/*скрывает полосу прокрутки, но оставляет возожность скролить*/
.feed::-webkit-scrollbar {
    width: 0;
}

.feed__header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #ffffff;
    border-bottom: 1px solid var(--twitter-background);
    padding: 15px 20px;
}
