.post {
    display: flex;
    padding: 15px;
    border-bottom: 1px solid var(--twitter-background);
}

.post__body {
    margin-left: 15px;
}

.post__body img {
    border-radius: 20px;
    max-width: 500px;
}
.post__headerSpecial {
    font-weight: 600;
    font-size: 16px;
    color: grey;
}
.post__badge {
    font-size: 16px !important;
    color: var(--twitter-color);
}
.post__headerDescription{
    margin-bottom: 10px;
}
.post__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
