* {
  padding: 0px;
  margin: 0px;
}
.app-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "header header"
    "nav content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 8fr;
  grid-gap: 15px;
}

.app-wrapper-content {
  grid-area: content;
  background-color: rgba(62, 174, 249, 0.89);
  color: #ffffff;
  padding: 10px;
}

