.nav {
    grid-area: nav;
    border: 1px solid black;
    background-color: rgba(61, 202, 245, 0.801);
    padding: 10px;
    margin-bottom: 10px;
}

.item a {
    text-decoration: none;
    color: white;
}
