.nav {
    grid-area: nav;
    padding: 10px;
    background-color: rgba(62, 174, 249, 0.89);
}

.item a {
    text-decoration: none;
    color: white;
}

.item a.activeLink {
    color: rgb(163, 228, 253);
}
