.sidebarChat {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    border-right: 1px solid rgb(255, 113, 113);
}

.sidebarChat:hover {
    background-color: #ebebeb;
    border-bottom: 1px solid rgb(255, 113, 113);
    border-top: 1px solid rgb(255, 113, 113);
    border-right: 1px solid transparent;
}
.sidebarChat:first-child {
    border-top: 1px solid transparent;
    cursor: pointer;
}
.sidebarChat:first-child:hover {
    border-top: 1px solid rgb(255, 113, 113);
}
.sidebarChat__info {
    margin-left: 20px;
}

.sidebarChat__info > h3 {
    font-size: 16px;
}
